html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
div#wapper {
  display: flex;
  flex-direction: row;
  height: inherit;
  background-color: #000;
  width: inherit;
}
div#wapper div.auth-background {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  filter: blur(0.6px);
  height: 100% !important;
  width: 100% !important;
  position: absolute !important;
}
div#wapper div.panel-auth {
  padding: 5pc 3pc 0pc 3pc;
  box-sizing: border-box;
  background-color: #fff;
  flex: 1;
  z-index: 2;
  height: 100%;
  box-shadow: 1px 6px 8px 2px rgba(0, 0, 0, 0.42);
}
div#wapper div.panel-auth p {
  text-align: center;
  margin-top: 0;
}
div#wapper div.panel-auth form {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans";
}
div#wapper div.panel-auth form label {
  font-size: 12pt;
  color: #777;
  font-weight: bolder;
}
div#wapper div.panel-auth form div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
div#wapper div.panel-auth form div i {
  font-size: 14pt !important;
  color: #ddd;
  border-radius: 40px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
div#wapper div.panel-auth form div input {
  outline: none;
  border: 1px solid #ddd;
  border-radius: 40px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  padding: 5px 12px 5px 6px;
  height: 50px;
  font-size: 11pt;
  width: 100%;
}
div#wapper div.panel-auth form button {
  color: #f0f0f0;
  background-color: #40739e;
  border: 0;
  cursor: pointer;
  height: 40px;
  margin-top: 2pc;
}
div#wapper div.content {
  flex: 3;
  z-index: 2;
}
div#wapper div.content article {
  position: absolute;
  right: 0;
  box-sizing: border-box;
  padding: 4pc;
  bottom: 0;
  font-family: "Open Sans";
  color: #fff;
}
div#wapper div.content article p {
  text-align: right;
  margin: 0;
}
div#wapper div.content article p a {
  text-decoration: none;
  color: #fff;
}
div#wapper div.content article h4 {
  font-size: 18pt;
  margin-top: 6px;
}

.col {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

a {
  margin-left: 15px;
  margin-bottom: 1pc;
}

/*minhas alterações*/

.roboto{
  font-family: roboto !important;
}
.btn{
  margin: 0px !important;
  color: #fff;
  background-color: #403f3f !important;
  border: 0;
  cursor: pointer;
  width: 100%;
  height: 40px;
  margin-top: 2pc;
  font-weight: bold;
}
i.right {
  float: right;
  margin-left: 0px !important;
}
.right1{
  float: right;
  margin-left: 55% !important;
}
.btn_a{
  height: 40px !important;
}
.btn_b{
  width: 70% !important;
}