.row {
    margin-bottom: 0px!important;
}
.row .col.s8 {
    margin: 0px !important;
    padding: 0px !important;
}
.background{
    padding: 0px !important;
    margin: 0px !important;
    width: 189.9vh !important;
    height: 96vh !important;
}
.br-titulo-sub{
    line-height: 1.9px;
}