body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

b{
    font-weight: 500;
}

big{
    font-size: 1.5em;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0em;
    margin-block-end:0em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 0.01px;

}

.img-curso{
    width: 83%;
}

.descricao-curso{
    text-align: justify;
    margin-left: 35%;
    margin-top: 4vh;
}

.descricao-modulo{
    text-align: justify;
    font-size: 1.5em;
    margin-left: 20%;
    margin-top: 0vh;
}

.link-curso{
    color:black;
}

.edita-exclui{
    color:#26A69A;
}

.bold{
    font-weight: 500 !important;
}

.justify{
    text-align: justify;
}

.white-text{
    color: white !important;
}
